@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div class="treeview col-lg-2">
            <ul>
                <li>
                    <div>
                        <p>
                            <a href="#" class="sc" onclick="return UnHide(this)">&#9660;</a>
                            Programs
                        </p>
                    </div>
                    <ul>
                        <li class="cl">
                            <div>
                                <p>
                                    <a href="#" class="sc" onclick="return UnHide(this)">&#9658;</a>
                                    Adobe CS2
                                </p>
                            </div>
                            <ul>
                                <li>
                                    <div>
                                        <p>
                                            Photoshop
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>
                                            Illustrator
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>
                                            InDesign
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="cl">
                            <div>
                                <p>
                                    <a href="#" class="sc" onclick="return UnHide(this)">&#9658;</a>
                                    Microsoft Office
                                </p>
                            </div>
                            <ul>
                                <li>
                                    <div>
                                        <p>
                                            Word
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>
                                            Excel
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>
                                <p>
                                    Internet Explorer
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>
                                    Mozilla Firefox
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>
                                    Opera
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-lg-10"></div>
    </div>
    
